.form {
  display: flex;
  flex-direction: column;
}

.form__button-save {
  width: 358px;
  height: 50.15px;
  top: 438.34px;
  left: 461px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: black;
  margin-left: 36px;
  margin-bottom: 36px;
  margin-top: 48px;
  border-radius: 5px;
}

.form__input {
  display: flex;
  justify-content: center;
  margin-left: 36px;
  gap: 30px;
  width: 358px;
  height: 27.26px;
  color: #000000;
  border: 1px solid #000000;
}

@media (max-width: 720px) {
  .form__input {
    width: 238px;
    height: 26px;
  }
}
