.profile {
  display: flex;
  width: 880px;
  margin-top: 40px;
  margin-bottom: 50px;
  justify-content: space-between;
  gap: 30px;
  padding: 0;
}
.profile__container {
  display: flex;
}
.profile__title {
  font-family: Inter;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.profile__info {
  display: flex;
  flex-direction: column;
}
.profile__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile__explorar {
  display: flex;
  width: 415px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #ffffff;
  align-items: center;
}
.profile__image {
  width: 120px;
  border-radius: 50px;
}
.profile__edit-button {
  width: 24px;
  background: none;
  border: 0;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.profile__add-button {
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: center;
  padding: 0;
  border: 2px solid #ffffff;
  background: none;
  align-self: center;
  align-items: center;
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.profile__content-title-button {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

@media (max-width: 720px) {
  .profile {
    width: 282px;
    margin-top: 42px;
    margin-bottom: 36px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile__title {
    width: 100%;
    font-size: 22px;
    line-height: 26.63px;
  }
  .profile__explorar {
    display: flex;
    width: 100%;
    line-height: 16.94px;
    align-items: center;
    justify-content: center;
  }
  .profile__content {
    justify-content: center;
  }
  .profile__add-button {
    width: 282px;
  }
}
